In [1]:
# a = {}
# Dict
# -Indexing
# -Ordered
# -Duplicate values
# -Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>,<key>:<value>}

In [3]:
d = {"a":"Apple","b":"Ball"}
d

{'a': 'Apple', 'b': 'Ball'}

In [5]:
d = {"a":"Apple","b":"Ball","c":"Cat"}
print(d['a'])
print(d["b"])
print(d["c"])

Apple
Ball
Cat

In [7]:
d = {1:"Apple",2:"Ball","c":1}
print(d[1])
print(d[2])
print(d["c"])

Apple
Ball
1

In [8]:
d = {"a":"Apple","b":"Ball","c":"Cat"}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [9]:
d = {"a":"Apple","b":"Ball","c":"Cat","C":"Cat"}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'C': 'Cat'}

In [10]:
d = {"a":"Apple","b":"Ball","c":"Cat","c":"Cup"}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cup'}

In [12]:
a = {}
a['a'] = "Apple"
a['b'] = "Ball"
a['c'] = "Cat"
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
a = {}
a['a'] = "Apple"
a['b'] = "Ball"
a['c'] = "Cat"
a['c'] = "Cup"
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cup'}

In [14]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a[i] = name
print(a)

Enter n = 2
Enter name = Ram
Enter name = Shyam
{0: 'Ram', 1: 'Shyam'}

In [15]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    a[name] = phone
print(a)

Enter n = 2
Enter name = Ram
Enter phone = 9856554543
Enter name = Shyam
Enter phone = 9856554543
{'Ram': 9856554543, 'Shyam': 9856554543}

In [17]:
a = {'Ram': 9856554543, 'Shyam': 9856554543}
b = list(a)
print(b)

['Ram', 'Shyam']

In [19]:
a = {'Ram': 9856554543, 'Shyam': 9856554543}
b = list(a.values())
print(b)

[9856554543, 9856554543]

In [22]:
a = {'Ram': 9856554543, 'Shyam': 9856554543}
b = list(a.items())
print(b)

[('Ram', 9856554543), ('Shyam', 9856554543)]

In [23]:
a = {'Ram': 9856554543, 'Shyam': 9856554543}
for i in a:
    print(i)

Ram
Shyam

In [24]:
a = {'Ram': 9856554543, 'Shyam': 9856554543}
for i in a.values():
    print(i)

9856554543
9856554543

In [25]:
a = {'Ram': 9856554543, 'Shyam': 9856554543}
for i in a.items():
    print(i)

('Ram', 9856554543)
('Shyam', 9856554543)

In [26]:
a = {'Ram': 9856554543, 'Shyam': 9856554543}
del a['Ram']
a

{'Shyam': 9856554543}

In [29]:
a = {'Ram': 9856554543, 'Shyam': 9856554543}
a.pop('Ram')
print(a)

{'Shyam': 9856554543}

In [30]:
a = {'Ram': 9856554543, 'Shyam': 9856554543}
x = a.pop('Ram')
print(a)
print(x)

{'Shyam': 9856554543}
9856554543

In [33]:
a = {'Ram': 9856554543, 'Shyam': 9856554543}
b = {'Hari':9856554543}
a.update(b)
print(a)

{'Ram': 9856554543, 'Shyam': 9856554543, 'Hari': 9856554543}

In [35]:
a = {('Ram','Sita'): 9856554543, 'Shyam': 9856554543}
print(a)

{('Ram', 'Sita'): 9856554543, 'Shyam': 9856554543}

In [36]:
a = {['Ram','Sita']: 9856554543, 'Shyam': 9856554543}
print(a)

TypeError: unhashable type: 'list'

In [ ]:
a = {'Sita': [9856554543,9808556543], 'Shyam': [9856554543,9808445654]}

b = {'Sita': (9856554543,9808556543), 'Shyam': (9856554543,9808445654)}

c = [{'Sita':9856554543},{'Shyam':9867665654}]

d = ({'Sita':9856554543},{'Shyam':9867665654})

e = {'Sita':{'NTC':9867665654,'NCELL':9808556543},
    'Ram':{'NTC':9867665687,'NCELL':98085565778}}

In [39]:
# list inside dict
a = {'Sita': [9856554543,9808556543], 'Shyam': [9856554543,9808445654]}
print(a['Shyam'])

[9856554543, 9808445654]

In [40]:
a = {'Sita': [9856554543,9808556543], 'Shyam': [9856554543,9808445654]}
a['Hari'] = [9843556543,9808556543]
a

{'Sita': [9856554543, 9808556543],
 'Shyam': [9856554543, 9808445654],
 'Hari': [9843556543, 9808556543]}

In [42]:
a = {'Sita': [9856554543, 9808556543],
 'Shyam': [9856554543, 9808445654],
 'Hari': [9843556543, 9808556543]}
a['Hari'][0] = 9841223219
a

{'Sita': [9856554543, 9808556543],
 'Shyam': [9856554543, 9808445654],
 'Hari': [9841223219, 9808556543]}

In [43]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc phone = "))
    ncell = int(input("Enter ncell phone = "))
    a[name] = [ntc,ncell]
print(a)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9845443432
Enter ncell phone = 9808556543
Enter name = Shyam
Enter ntc phone = 9867554543
Enter ncell phone = 9808556543
{'Ram': [9845443432, 9808556543], 'Shyam': [9867554543, 9808556543]}

In [44]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc phone = "))
    ncell = int(input("Enter ncell phone = "))
    a[name] = (ntc,ncell)
print(a)

Enter n = 2
Enter name = Ram
Enter ntc phone = 53534534
Enter ncell phone = 3534545
Enter name = Shyam
Enter ntc phone = 435435454
Enter ncell phone = 5345435345
{'Ram': (53534534, 3534545), 'Shyam': (435435454, 5345435345)}

In [46]:
a = {'Ram': (53534534, 3534545), 'Shyam': (435435454, 5345435345)}
del a['Ram']
a

{'Shyam': (435435454, 5345435345)}

In [48]:
a = {'Ram': [9845443432, 9808556543], 'Shyam': [9867554543, 9808556543]}
a['Ram'].append(4453432)
a

{'Ram': [9845443432, 9808556543, 4453432], 'Shyam': [9867554543, 9808556543]}

In [1]:
# dict inside list
a = [{"Name":"Ram","Age":34,"Address":"Nepal"},
    {"Name":"Rama","Age":33,"Address":"USA"}]
print(a)

[{'Name': 'Ram', 'Age': 34, 'Address': 'Nepal'}, {'Name': 'Rama', 'Age': 33, 'Address': 'USA'}]

In [2]:
for i in a:
    print(i)

{'Name': 'Ram', 'Age': 34, 'Address': 'Nepal'}
{'Name': 'Rama', 'Age': 33, 'Address': 'USA'}

In [4]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Entter the value of name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    d = {"Name":name,"Age":age,"Add":add}
    a.append(d)
    
print(a)

Enter n = 2
Entter the value of name = Ram
Enter age = 45
Enter add = Kathmandu
Entter the value of name = Shyam
Enter age = 45
Enter add = Kathmandu
[{'Name': 'Ram', 'Age': '45', 'Add': 'Kathmandu'}, {'Name': 'Shyam', 'Age': '45', 'Add': 'Kathmandu'}]

In [5]:
a = [{'Name': 'Ram', 'Age': '45', 'Add': 'Kathmandu'}, {'Name': 'Shyam', 'Age': '45', 'Add': 'Kathmandu'}]
for i in a:
    print(i)

{'Name': 'Ram', 'Age': '45', 'Add': 'Kathmandu'}
{'Name': 'Shyam', 'Age': '45', 'Add': 'Kathmandu'}

In [6]:
a = [{'Name': 'Ram', 'Age': '45', 'Add': 'Kathmandu'}, 
     {'Name': 'Shyam', 'Age': '45', 'Add': 'Kathmandu'}]
for i in a:
    print(i.values())

dict_values(['Ram', '45', 'Kathmandu'])
dict_values(['Shyam', '45', 'Kathmandu'])

In [8]:
a = [{'Name': 'Ram', 'Age': '45', 'Add': 'Kathmandu'}, 
     {'Name': 'Shyam', 'Age': '45', 'Add': 'Kathmandu'}]
for i in a:
    print(i.items())

dict_items([('Name', 'Ram'), ('Age', '45'), ('Add', 'Kathmandu')])
dict_items([('Name', 'Shyam'), ('Age', '45'), ('Add', 'Kathmandu')])

In [9]:
a = [{'Name': 'Ram', 'Age': '45', 'Add': 'Kathmandu'}, 
     {'Name': 'Shyam', 'Age': '45', 'Add': 'Kathmandu'}]
for i in a:
    if i['Name'] == 'Ram':
        print(i)

{'Name': 'Ram', 'Age': '45', 'Add': 'Kathmandu'}

In [11]:
a = [{'Name': 'Ram', 'Age': 45, 'Add': 'Kathmandu'}, 
     {'Name': 'Shyam', 'Age': 25, 'Add': 'Kathmandu'}]
for i in a:
    if i['Age'] > 30:
        print(i)

{'Name': 'Ram', 'Age': 45, 'Add': 'Kathmandu'}

In [13]:
a = [{'Name': 'Ram', 'Age': '45', 'Add': 'Kathmandu'}, 
     {'Name': 'Shyam', 'Age': '45', 'Add': 'Kathmandu'}]
a[0]['Name'] = 'Ram'
print(a)

[{'Name': 'Ram', 'Age': '45', 'Add': 'Kathmandu'}, {'Name': 'Shyam', 'Age': '45', 'Add': 'Kathmandu'}]

In [15]:
# e = {'Sita':{'NTC':9867665654,'NCELL':9808556543},
#     'Ram':{'NTC':9867665687,'NCELL':98085565778}}

d = {}
n = int(input("Enter b = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Enter ntc = ")
    ncell = input("Enter ncell = ")
    info = {'NTC':ntc,'NCELL':ncell}
    d[name] = info
    
print(d)

Enter b = 2
Enter name = Ram
Enter ntc = 9867665
Enter ncell = 98787765
Enter name = Shyam
Enter ntc = 98787765
Enter ncell = 98078876
{'Ram': {'NTC': '9867665', 'NCELL': '98787765'}, 'Shyam': {'NTC': '98787765', 'NCELL': '98078876'}}

In [18]:
a= {'Ram': {'NTC': '9867665', 'NCELL': '98787765'}, 'Shyam': {'NTC': '98787765', 'NCELL': '98078876'}}

a['Hari'] = {}
a['Hari']['NTC'] = 9867665654
a['Hari']['NCELL'] = 9808667654
a

{'Ram': {'NTC': '9867665', 'NCELL': '98787765'},
 'Shyam': {'NTC': '98787765', 'NCELL': '98078876'},
 'Hari': {'NTC': 9867665654, 'NCELL': 9808667654}}

In [20]:
a= {'Ram': {'NTC': '9867665', 'NCELL': '98787765'}, 
    'Shyam': {'NTC': '98787765', 'NCELL': '98078876'}}
for i in a.values():
    print(i)

{'NTC': '9867665', 'NCELL': '98787765'}
{'NTC': '98787765', 'NCELL': '98078876'}

In [24]:
a= {'Ram': {'NTC': '9867665', 'NCELL': 98787765}, 
    'Shyam': {'NTC': '98787765', 'NCELL': 98078876}}

ncell = int(input("Enter ncell no = "))
for i in a.values():
    if i['NCELL'] == ncell:
        print(i)

Enter ncell no = 98787765
{'NTC': '9867665', 'NCELL': 98787765}

In [29]:
a= {'Ram': {'NTC': '9867665', 'NCELL': 98787765}, 
    'Shyam': {'NTC': '98787765', 'NCELL': 98078876}}

ncell = int(input("Enter ncell no = "))
for i in a.items():
   
    if i[1]['NCELL'] == ncell:
        print(i[0])

Enter ncell no = 98787765
Ram