In [1]:
# Python data Collections
# List
# Tuple
# Dictionary
# Set

In [2]:
# List
# -Indexing
# -Ordered
# -Duplicate members
# -Mutable

In [4]:
a = list()
b = ["Apple","Ball","Cat","Dog"]
print(b)
print(type(b))
print(len(b))

['Apple', 'Ball', 'Cat', 'Dog']
<class 'list'>
4

In [5]:
a = [1,2,3,4,5,6,4.5,5.6]
a

[1, 2, 3, 4, 5, 6, 4.5, 5.6]

In [11]:
b = ["Apple","Ball","Cat","Dog"]
print(b[3])

Dog

In [9]:
b = ["Apple","Ball","Cat","Dog"]
print(b[0:5])

['Apple', 'Ball', 'Cat', 'Dog']

In [12]:
b = ["Apple","Ball","Cat","Dog"]
print(b[0:5:2])

['Apple', 'Cat']

In [13]:
b = ["Apple","Ball","Cat","Dog"]
print(b[-1])

Dog

In [14]:
b = ["Apple","Ball","Cat","Dog"]
print(b)

['Apple', 'Ball', 'Cat', 'Dog']

In [15]:
b = ["Apple","Ball","Cat","Dog"]
c = ["Fish"]
print(b+c)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [16]:
c = ["Fish"]
print(c*3)

['Fish', 'Fish', 'Fish']

In [18]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
a[0] = "Ant"
a

['Ant', 'Ball', 'Cat', 'Dog', 'Fish']

In [20]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+[name]
    
print(a)

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram', 'Shyam']

In [21]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = int(input("Enter name = "))
    a = a+[name]
    
print(a)

Enter n = 5
Enter name = 2434
Enter name = 12
Enter name = 34
Enter name = 123
Enter name = 43
[2434, 12, 34, 123, 43]

In [23]:
print("Max value = ",max(a))
print("Min value = ",min(a))
print("Sum = ",sum(a))

Max value =  2434
Min value =  12
Sum =  2646

In [24]:
a.sort()
print(a)

[12, 34, 43, 123, 2434]

In [25]:
a.reverse()
a

[2434, 123, 43, 34, 12]

In [26]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+[name]
    
print(a)

Enter n = 5
Enter name = apple
Enter name = Ball
Enter name = CAt
Enter name = Zebra
Enter name = 1xray
['apple', 'Ball', 'CAt', 'Zebra', '1xray']

In [28]:
a.sort()
print(a)

['1xray', 'Ball', 'CAt', 'Zebra', 'apple']

In [29]:
a = ['apple', 'Ball', 'CAt', 'Zebra', '1xray']
b = sorted(a)
print(a)
print(b)

['apple', 'Ball', 'CAt', 'Zebra', '1xray']
['1xray', 'Ball', 'CAt', 'Zebra', 'apple']

In [31]:
a = ['apple', 'Ball', 'CAt', 'Zebra', '1xray']
for i in a:
    print(i)

apple
Ball
CAt
Zebra
1xray

In [32]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray']
for i in a:
    if i == "Cat":
        continue
    print(i)

apple
Ball
Zebra
1xray

In [33]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray']
for i in a:
    if i == "Cat":
        break
    print(i)

apple
Ball

In [34]:
# append()
# insert()
# extend()

In [35]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray']
a.append("Fish")
a

['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Fish']

In [36]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a.append(name)
    
print(a)

Enter n = 3
Enter name = adasd
Enter name = asdasds
Enter name = sdfsd
['adasd', 'asdasds', 'sdfsd']

In [37]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray']
a.insert(1,"Bat")
a

['apple', 'Bat', 'Ball', 'Cat', 'Zebra', '1xray']

In [38]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray']
b = ['Car',"Cab"]
a.extend(b)
a

['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car', 'Cab']

In [1]:
# remove() del pop()
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car', 'Cab']
del a[2]
print(a)

['apple', 'Ball', 'Zebra', '1xray', 'Car', 'Cab']

In [2]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car', 'Cab']
del a[0:4]
print(a)

['1xray', 'Car', 'Cab']

In [3]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car', 'Cab']
del a[0:6:2]
print(a)

['Ball', 'Zebra', 'Car', 'Cab']

In [5]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car', 'Cab','Ball']
a.remove("Ball")
print(a)

['apple', 'Cat', 'Zebra', '1xray', 'Car', 'Cab', 'Ball']

In [7]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car', 'Cab']
a.pop()
print(a)

['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car']

In [8]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car', 'Cab']
a.pop(2)
print(a)

['apple', 'Ball', 'Zebra', '1xray', 'Car', 'Cab']

In [9]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car', 'Cab']
b = a.pop(2)
print(a)
print(b)

['apple', 'Ball', 'Zebra', '1xray', 'Car', 'Cab']
Cat

In [10]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car', 'Cab','Ball']
n = a.count("Ball")
for i in range(n):
    a.remove("Ball")
print(a)

['apple', 'Cat', 'Zebra', '1xray', 'Car', 'Cab']

In [11]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car', 'Cab','Ball']
if "Ball" in a:
    print("Yes")
    print(a.count("Ball"))

Yes
2

In [13]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car', 'Cab','Ball']
i = a.index("Ball")
i

1

In [14]:
a = ['apple', 'Ball', 'Cat', 'Zebra', '1xray', 'Car', 'Cab','Ball']
for i in range(len(a)):
    if a[i] == "Ball":
        print(i)

1
7

In [15]:
# list inside list
a= [[1,2,3],
    [4,5,6],
    [7,8,9]]

In [19]:
a[2]

[7, 8, 9]

In [17]:
len(a)

3

In [21]:
# list inside list
a= [[1,2,3],
    [4,5,6],
    [7,8,9]]
a[0][0]

1

In [22]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = [name,age,add]
    l.append(info)
    
print(l)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 43
Enter add = Kathmandu
[['Ram', 34, 'Kathmandu'], ['Shyam', 43, 'Kathmandu']]

In [24]:
l[1]

['Shyam', 43, 'Kathmandu']

In [26]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 43, 'Kathmandu']]
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 43, 'Kathmandu']

In [28]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 43, 'Kathmandu']]
b = [['Hari',34,"Patan"]]
c = a+b
c

[['Ram', 34, 'Kathmandu'], ['Shyam', 43, 'Kathmandu'], ['Hari', 34, 'Patan']]

In [30]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 43, 'Kathmandu'], ['Hari', 34, 'Patan']]
a[0] = ['Rama', 31, 'Kathmandu']
a

[['Rama', 31, 'Kathmandu'], ['Shyam', 43, 'Kathmandu'], ['Hari', 34, 'Patan']]

In [32]:
a = [['Rama', 31, 'Kathmandu'], ['Shyam', 43, 'Kathmandu'], ['Hari', 34, 'Patan']]
a[0][0] = 'Krishna'
a

[['Krishna', 31, 'Kathmandu'],
 ['Shyam', 43, 'Kathmandu'],
 ['Hari', 34, 'Patan']]

In [38]:
a = [['Rama', 31, 'Kathmandu'], ['Shyam', 43, 'Kathmandu'], ['Hari', 34, 'Patan']]
for i in a:
    if "Rama" in i:
        print(i)

['Rama', 31, 'Kathmandu']

In [39]:
a = [['Rama', 31, 'Kathmandu'], ['Shyam', 43, 'Kathmandu'], ['Hari', 34, 'Patan']]
data = input("Enter data = ")
for i in a:
    if data in i:
        print(i)

Enter data = Patan
['Hari', 34, 'Patan']

In [41]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price*qty
    info = [name,price,qty,total]
    l.append(info)
    
print(l)

Enter n = 2
Enter name = Apple
Enter price = 200
Enter qty = 2
Enter name = Banana
Enter price = 100
Enter qty = 4
[['Apple', 200, 2, 400], ['Banana', 100, 4, 400]]

In [ ]:
l = []
product = [["Apple",200],["Banana",100],['Bat',20]]

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    
    for i in product:
        if name in i:
            price = i[1]
        
    
    qty = int(input("Enter qty = "))
    total = price*qty
    info = [name,price,qty,total]
    l.append(info)
    
print(l)

In [ ]:
# WAP for result management system (data entry) CRUD