In [1]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
  database = "class7pm"
)
db = database.cursor()

In [3]:
# Selecting data from database
db.execute("SELECT * FROM profile")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 67, 72, 412, 412, 70.5, 'B')
(2, 'Rama', 77, 39, 68, 67, 72, 362, 364, 70.5, 'B')

In [5]:
db.execute("SELECT `Sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`  FROM `profile` WHERE 1")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 67, 72)
(2, 'Rama', 77, 39, 68, 67, 72)

In [10]:
db.execute("SELECT Sn, name, physics, chemistry, math, english, nepali,grade  FROM profile WHERE grade='A'")
result =db.fetchall()
for x in result:
    print(x)

(2, 'Rama', 77, 39, 68, 67, 72, 'A')

In [11]:
db.execute("SELECT *  FROM profile WHERE total>400")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 67, 72, 412, 412, 70.5, 'B')

In [16]:
# Search
db.execute("SELECT *  FROM profile WHERE bio LIKE '%Good boy%' ")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 67, 72, 412, 412, 70.5, 'B', 'He is very good boy')

In [7]:
sql = "INSERT INTO profile( name, physics, chemistry, math,english, nepali,sum, total, per, grade, bio) VALUES ('Hari',78,67,89,87,67,456,456,78.6,'B','He is very good student') "
db.execute(sql)
database.commit()
print(db.rowcount, "record inserted.")

1 record inserted.

In [10]:
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks = "))
    che = int(input("Enter che marks = "))
    math = int(input("Enter  math marks = "))
    eng = int(input("Enter eng marks = "))
    nep = int(input("Enter physics nep = "))
    total = sum([physics,che,math,eng,nep])
    per = total/5
    if per>=80:
        grade = "A"
    elif per >=60:
        grade = "B"
    elif per>=45:
        grade = "C"
    else:
        grade = "F"
    bio = input("Enter Bio = ")
    sql = f"INSERT INTO profile(name, physics, chemistry, math,english, nepali, total, per, grade, bio) 
    VALUES ('{name}',{physics},{che},{math},{eng},{nep},{total},{per},'{grade}','{bio}') "
    
    db.execute(sql)
    
database.commit()
print(db.rowcount, "record inserted.")

Enter n = 2
Enter name = Ram
Enter physics marks = 89
Enter che marks = 98
Enter  math marks = 78
Enter eng marks = 87
Enter physics nep = 67
Enter Bio = He is very good
Enter name = nabin
Enter physics marks = 56
Enter che marks = 89
Enter  math marks = 56
Enter eng marks = 45
Enter physics nep = 87
Enter Bio = He is average
1 record inserted.

In [11]:
print(sql)

INSERT INTO profile(name, physics, chemistry, math,english, nepali, total, per, grade, bio) VALUES ('nabin',56,89,56,45,87,333,66.6,'B','He is average')

In [16]:
# Update
id = int(input("Enter id = "))
name = input("Enter name = ")
sql = f"UPDATE profile SET name = '{name}' WHERE Sn = {id}"
print(sql)
db.execute(sql)
database.commit()

Enter id = 6
Enter name = ram
UPDATE profile SET name = 'ram' WHERE Sn = 6

In [18]:
# Delete
id = int(input("Enter id = "))
# name = input("Enter name = ")
sql = f"DELETE FROM profile WHERE Sn = {id}"
print(sql)
db.execute(sql)
database.commit()

Enter id = 7
DELETE FROM profile WHERE Sn = 7

In [13]:
# Update
id = int(input("Enter id = "))
subject = int(input("Enter subject (physics or chemistry or math or english or nepali) ie (0,1,2,3,4) = "))
marks = int(input("Enter Marks = "))


# fetching data
db.execute(f"SELECT physics,chemistry,math,english,nepali FROM profile WHERE Sn = {id}")
result =db.fetchall()
l = list(result[0])

all_sub = ('physics','chemistry','math','english','nepali')
# l[subject] = marks
total = sum(l)
per = total/5
sub = all_sub[subject]
print(sub)



sql = f"UPDATE profile SET {sub} = '{marks}' , total ={total} , per = {per} WHERE Sn = {id}"
print(sql)
db.execute(sql)
database.commit()

Enter id = 6
Enter subject (physics or chemistry or math or english or nepali) ie (0,1,2,3,4) = 0
Enter Marks = 100
physics
UPDATE profile SET physics = '100' , total =419 , per = 83.8 WHERE Sn = 6