In [1]:
a = {}
type(a)

dict

In [3]:
a = {1}
type(a)

set

In [4]:
a = {1,1,2,2,3,3,4,5,6,7,89}
print(a)

{1, 2, 3, 4, 5, 6, 7, 89}

In [5]:
# SET
# -Does not follow indexing
# -Unordered
# -No duplicate
# -Mutable

In [6]:
a = {"Apple","Ball","Cat","Dog"}
print(a[0])

TypeError: 'set' object does not support indexing

In [10]:
a = {"Apple","Ball","Cat","Dog",1,'.'}
print(a)

{1, 'Cat', 'Ball', 'Dog', 'Apple', '.'}

In [11]:
a = {1,1,2,2,3,3,4,4,5,5}
print(a)

{1, 2, 3, 4, 5}

In [12]:
a=set()
a.add("Apple")
print(a)

{'Apple'}

In [14]:
s = set()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s.add(x)
    
print(s)

Enter n = 3
Enter x = Apple
Enter x = Ball
Enter x = Cat
{'Cat', 'Ball', 'Apple'}

In [15]:
d = {1,2,3}
a = {4,5,6}
c = a+d
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [16]:
# Mutable
d = {1,2,3}
a = {4,5,6}
d.update(a)
print(d)

{1, 2, 3, 4, 5, 6}

In [17]:
# list tuple set
a = {1, 2, 3, 4, 5, 6}
list(a)

[1, 2, 3, 4, 5, 6]

In [18]:
a = {1, 2, 3, 4, 5, 6}
tuple(a)

(1, 2, 3, 4, 5, 6)

In [22]:
a = [1, 2,2, 3, 4,5,5, 6]
b = set(a)
a = list(b)
a

[1, 2, 3, 4, 5, 6]

In [26]:
a = [1, 2,2, 3, 4,5,5, 6]
list(set(a))

[1, 2, 3, 4, 5, 6]

In [24]:
a = set("1122334455")
a

{'1', '2', '3', '4', '5'}

In [27]:
a = list("Hello")
a

['H', 'e', 'l', 'l', 'o']

In [28]:
a = tuple("Hello")
a

('H', 'e', 'l', 'l', 'o')

In [29]:
# set inside set
a = {{1,2,3},{4,5,6}}
a

TypeError: unhashable type: 'set'

In [31]:
a = {[1,2,3],[4,5,6]}
a

TypeError: unhashable type: 'list'

In [32]:
a = {(1,2,3),(4,5,6)}
a

{(1, 2, 3), (4, 5, 6)}

In [34]:
# union
# intersection
# difference
# subset or super set
# joint or disjoint

a = {"Ram","Hari","Sita","Gita"}
b = {"Hari","Sita","Nabin"}


print(a.intersection(b))

{'Hari', 'Sita'}

In [35]:
# union
a.union(b)

{'Gita', 'Hari', 'Nabin', 'Ram', 'Sita'}

In [36]:
a = {"Ram","Hari","Sita","Gita"}
b = {"Hari","Sita","Nabin"}

# a-b
a.difference(b)

{'Gita', 'Ram'}

In [38]:
b.difference(a)

{'Nabin'}

In [39]:
a = {"Ram","Hari","Sita","Gita"}
b = {"Hari","Sita","Nabin"}

c = a.difference(b)  #a-b
d = b.difference(a)  #b-a

c.union(d)

{'Gita', 'Nabin', 'Ram'}

In [40]:
a = {"Ram","Hari","Sita","Gita"}
b = {"Hari","Sita","Nabin"}
c = {"Hari","Govinda","Radha"}

print(a.intersection(b,c))

{'Hari'}

In [41]:
a = {"Ram","Hari","Sita","Gita"}
b = {"Hari","Sita","Nabin"}
c = {"Hari","Govinda","Radha"}

print(a.union(b,c))

{'Radha', 'Ram', 'Gita', 'Govinda', 'Hari', 'Nabin', 'Sita'}

In [42]:
# joint set
# disjoint set

In [43]:
a = {"Ram","Hari","Sita","Gita"}
b = {"Hari","Sita","Nabin"}
a.isdisjoint(b)

False

In [44]:
a = {"Ram","Hari","Sita","Gita"}
b = {"Hari","Sita","Nabin"}
a.issubset(b)

False

In [45]:
a = {"Ram","Hari","Sita","Gita"}
b = {"Hari","Sita"}
a.issubset(b)

False

In [46]:
a = {"Ram","Hari","Sita","Gita"}
b = {"Hari","Sita"}
b.issubset(a)

True

In [47]:
a = {"Ram","Hari","Sita","Gita"}
b = {"Hari","Sita"}
b.issuperset(a)

False

In [48]:
a = {"Ram","Hari","Sita","Gita"}
b = {"Hari","Sita"}

a.issuperset(b)

True

In [50]:
# pandas
# a = {"Patan", "Pulchock","Zoo"}
# b = {"Pulchock","bhaktapur"}
# a.union(b)