In [1]:
a = "Hello World I am Python"
print(a)

Hello World I am Python

In [2]:
print(type(a))

<class 'str'>

In [3]:
a = "10"
b = "20"
c = a+b
print(c)

1020

In [4]:
a = 10
b = 20
c = a+b
print(c)

30

In [5]:
a = "Apple"
b = "Ball"
print(a+b)

AppleBall

In [7]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [11]:
a = "Hello World I am Python"
print(a[1])
print(a[-1])

e
n

In [14]:
a = "Hello World I am Python"
print(a[0:5])

Hello

In [16]:
a = "Hello World I am Python"
print(a[5:11])

 World

In [18]:
a = "Hello World I am Python"
print(a[0::2])

HloWrdIa yhn

In [19]:
a = "Python"
l = len(a)
print(l)

6

In [22]:
a = "Python"
a[5::-1]

'nohtyP'

In [23]:
# String formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter Address = ")

info = f"Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Enter name = Ram
Enter age = 34
Enter Address = Kathmandu
Hello World I am Ram. I am from Kathmandu. I am 34

In [24]:
s = str()
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = f"{i} {name} {phone}\n"
    s = s+info
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9878776765
Enter name = Shyam
Enter phone = 988776765
1 Ram 9878776765
2 Shyam 988776765

In [25]:
s = str()
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    price = int(input("Enter phone = "))
    qty = int(input("Enter price = "))
    total = price*qty
    info = f"{i} {name} {price} {qty} {total}\n"
    s = s+info
print(s)

Enter n = 2
Enter name = Apple
Enter phone = 100
Enter price = 3
Enter name = Banana
Enter phone = 2
Enter price = 200
1 Apple 100 3 300
2 Banana 2 200 400

In [28]:
a = "Ram Shyam Hari Nita Shyam Ram"
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))

Yes
2

In [1]:
a = "Ram Shyam Hari Nita Shyam Ram"
name = input("Enter name = ")
if name in a:
    print("Yes")
    print(a.count("Ram"))

Enter name = RAm

In [32]:
a = "Ram Shyam Hari Nita Shyam Ram"
a.upper()

'RAM SHYAM HARI NITA SHYAM RAM'

In [33]:
a = "Ram Shyam Hari Nita Shyam Ram"
a.lower()

'ram shyam hari nita shyam ram'

In [34]:
a = "Ram Shyam Hari Nita Shyam Ram"
b = a.lower()
name = input("Enter name = ")
l_name = name.lower()

if l_name in b:
    print("Yes")
    print(b.count(l_name))

Enter name = RaM
Yes
2

In [35]:
# CRUD

In [36]:
#Replace
a = "Ram Shyam Hari Nita Shyam Ram"
name = input("Enter name = ")
rep = input("Enter rep = ")
b = a.replace(name,rep)
print(b)

Enter name = Ram
Enter rep = Rama
Rama Shyam Hari Nita Shyam Rama

In [37]:
print(a)

Ram Shyam Hari Nita Shyam Ram

In [38]:
# Delete
a = "Ram Shyam Hari Nita Shyam Ram"
name = input("Enter name = ")

b = a.replace(name,"")
print(b)

Enter name = Ram
 Shyam Hari Nita Shyam

In [41]:
a = "Ram Shyam Hari Nita Shyam Ram"
b = a[0:3]
c = a[3:]
print(c)

 Shyam Hari Nita Shyam Ram

In [43]:
a = "Ram Shyam Hari Ram Nita Shyam Ram"
a[0:-3]

'Ram Shyam Hari Ram Nita Shyam '

In [49]:
a = "Ram Shyam Hari Ram Nita Shyam Ram"
b = a[0:15]
c = a[19:]
d = b+c
print(d)

Ram Shyam Hari Nita Shyam Ram

In [52]:
# a = "Ram Shyam Hari Ram Nita Shyam Ram"
# b = a[15:18].replace("Ram","")
# print(b)

In [51]:
a = "Ram Shyam Hari Ram Nita Shyam Ram"
x = a.split()
del x[3]
print(x)

['Ram', 'Shyam', 'Hari', 'Nita', 'Shyam', 'Ram']