In [3]:
# Tuple
# -Indexing
# -Ordered
# -Duplicate Values
# -Imutable

In [5]:
a = (1,2,3)
b = tuple()

print(a)

(1, 2, 3)

In [6]:
print(b)

()

In [7]:
a = ("Apple","Ball","Cat","Dog")
print(len(a))

4

In [8]:
a[0]

'Apple'

In [9]:
a = ("Apple","Ball","Cat","Dog")
a[0:3]

('Apple', 'Ball', 'Cat')

In [10]:
a = ("Apple","Ball","Cat","Dog")
a[0:4:2]

('Apple', 'Cat')

In [11]:
a = ("Apple","Ball","Cat","Dog")
a

('Apple', 'Ball', 'Cat', 'Dog')

In [12]:
a = ("Apple","Ball","Cat","Dog")
b = ("Cat","Fish")
print(a+b)

('Apple', 'Ball', 'Cat', 'Dog', 'Cat', 'Fish')

In [13]:
a = (1,2,3,4,4,5,6,1,2,3)
print(a)

(1, 2, 3, 4, 4, 5, 6, 1, 2, 3)

In [14]:
a = (1,2,3)
a*2

(1, 2, 3, 1, 2, 3)

In [18]:
a = ("Apple",)
type(a)

tuple

In [19]:
a = tuple()
b = (1,)
c = (2,)
a+b+c

(1, 2)

In [21]:
a = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a = a+(x,)
    
print(a)

Enter n = 3
Enter x = Apple
Enter x = Ball
Enter x = Cat
('Apple', 'Ball', 'Cat')

In [22]:
a = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+(x,)
    
print(a)

Enter n = 5
Enter x = 132
Enter x = 34
Enter x = 132
Enter x = 35
Enter x = 123
(132, 34, 132, 35, 123)

In [23]:
print(max(a))
print(min(a))
print(sum(a))

132
34
456

In [24]:
a = (132, 34, 132, 35, 123)
sorted(a)

[34, 35, 123, 132, 132]

In [25]:
print(a)

(132, 34, 132, 35, 123)

In [26]:
# Delete Update

In [30]:
a = ("Apple","Ball","Cat","Dog")
b = list(a)
del b[0]
b

['Ball', 'Cat', 'Dog']

In [31]:
a = tuple(b)
a

('Ball', 'Cat', 'Dog')

In [32]:
a = ((1,2,3),(4,5,6),(7,8,9))
type(a)

tuple

In [34]:
l = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price*qty
    info = (name,price,qty,total)
    l = l+(info,)
    
print(l)

Enter n = 2
Enter name = Apple
Enter price = 3
Enter qty = 100
Enter name = Ball
Enter price = 200
Enter qty = 4
(('Apple', 3, 100, 300), ('Ball', 200, 4, 800))

In [36]:
a = (('Apple', 3, 100, 300), ('Ball', 200, 4, 800))
b = list(a)
b

[('Apple', 3, 100, 300), ('Ball', 200, 4, 800)]

In [37]:
a = [('Apple', 3, 100, 300), ('Ball', 200, 4, 800)]
a[0]

('Apple', 3, 100, 300)

In [39]:
a = [('Apple', 3, 100, 300), ('Ball', 200, 4, 800)]
del a[0]
a

[('Ball', 200, 4, 800)]

In [40]:
a = [('Apple', 3, 100, 300), ('Ball', 200, 4, 800)]
len(a)

2

In [42]:
a = [('Apple', 3, 100, 300), ('Ball', 200, 4, 800)]
a[0] = ('Apple',4,100,400)
print(a)

[('Apple', 4, 100, 400), ('Ball', 200, 4, 800)]

In [45]:
c = []
a = (('Apple', 3, 100, 300), ('Ball', 200, 4, 800))
b = list(a)
for i in b:
    x = list(i)
    c.append(x)
    
print(c)

[['Apple', 3, 100, 300], ['Ball', 200, 4, 800]]

In [46]:
c = ()
a = [['Apple', 3, 100, 300], ['Ball', 200, 4, 800]]
b = tuple(a)
for i in b:
    x = tuple(i)
    c = c+(x,)
    
print(c)

(('Apple', 3, 100, 300), ('Ball', 200, 4, 800))

In [ ]:
# WAP to create a matrix (i = 3,j = 2) bys using list and tuple