In [1]:
import mysql.connector  		#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
  database = "class7pm"
)
db = database.cursor()

In [3]:
# Selecting data from database
db.execute("SELECT * FROM profile")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 67, 72, 412, 412, 70.5, 'B')
(2, 'Rama', 77, 39, 68, 67, 72, 362, 364, 70.5, 'B')

In [5]:
db.execute("SELECT `Sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`  FROM `profile` WHERE 1")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 67, 72)
(2, 'Rama', 77, 39, 68, 67, 72)

In [10]:
db.execute("SELECT Sn, name, physics, chemistry, math, english, nepali,grade  FROM profile WHERE grade='A'")
result =db.fetchall()
for x in result:
    print(x)

(2, 'Rama', 77, 39, 68, 67, 72, 'A')

In [11]:
db.execute("SELECT *  FROM profile WHERE total>400")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 67, 72, 412, 412, 70.5, 'B')

In [16]:
# Search
db.execute("SELECT *  FROM profile WHERE bio LIKE '%Good boy%' ")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 89, 78, 67, 72, 412, 412, 70.5, 'B', 'He is very good boy')

In [ ]:
sql = INSERT INTO `profile`(`Sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `sum`, `total`, `per`, `grade`, `bio`) VALUES ([value-1],[value-2],[value-3],[value-4],[value-5],[value-6],[value-7],[value-8],[value-9],[value-10],[value-11],[value-12])
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record inserted.")